Repository autokitteh/autokitteh, changes with the owners that CODEOWNERS names for each.
All owners: @daabr, @haimzlato, @efiShtain

CODEOWNERS:

/cmd/ak/ @daabr
/docs/ @daabr @haimzlato
/backend/internal/db/ @efiShtain
/integrations/ @daabr
/systest/ @daabr

Merge set-resources into build command
  cmd/ak/cmd/projects/build.go
  cmd/ak/cmd/projects/projects.go
  cmd/ak/cmd/projects/setresources.go
  tests/cli/projects.txt
Owners: @daabr

Merge set-resources into build command (#48)
  cmd/ak/cmd/projects/build.go
  cmd/ak/cmd/projects/projects.go
  cmd/ak/cmd/projects/setresources.go
  tests/cli/projects.txt
Owners: @daabr

tlsa
  backend/internal/db/dbgorm/gorm_test.go
  sdk/sdktypes/build_id.go
  sdk/sdktypes/connection_id.go
  sdk/sdktypes/deployment_id.go
  sdk/sdktypes/event_id.go
  sdk/sdktypes/id_test.go
  sdk/sdktypes/integration_id.go
  sdk/sdktypes/project_id.go
  sdk/sdktypes/session_id.go
  sdk/sdktypes/trigger_id.go
  tests/cli/builds.txt
  tests/cli/deployments.txt
  tests/cli/envs.txt
  tests/cli/events.txt
  tests/cli/projects.txt
  tests/cli/triggers.txt
  tests/system/testdata/connections/create.txtar
  tests/system/testdata/connections/delete.txtar
  tests/system/testdata/connections/get.txtar
  tests/system/testdata/connections/list.txtar
  tests/system/testdata/integrations/get.txtar
  tests/system/testdata/manifest/apply.txtar
  tests/system/testdata/workflows/builtin_funcs.txtar
Owners: @efiShtain

fixes
  .github/workflows/ci-go.yml
  cmd/ak/cmd/deployments/state.go
  cmd/ak/cmd/events/records/state.go
  cmd/ak/cmd/sessions/state.go
  sdk/sdktypes/deployment_state.go
  sdk/sdktypes/enum.go
  sdk/sdktypes/event_state.go
  sdk/sdktypes/session_state_type.go
Owners: @daabr

fgix
  cmd/ak/cmd/builds/upload.go
  sdk/sdktypes/doc.go
  tests/system/testdata/connections/get.txtar
Owners: @daabr

fix
  tests/cli/projects.txt
Owners: none

communication protocol
  runtimes/pythonrt/README.md
Owners: none

Update Dockerfile
  Dockerfile
Owners: none
